<!DOCTYPE html>
<html>
	<head>
		<title>AtlantisChess</title>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="styles.css">
		<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
		<script src="chessboardjs-1.0.0/js/chessboard-1.0.0.min.js"></script>
		<script src="js/chess.js"></script>
	</head>
	<body>
		<div class="header">
			<p>AtlantisChess</p>
		</div>
		<div class="main">
			<div class="board-container">
				<div id="myBoard" class="chess-board item1" style="width: 400px"></div>
				<p id="atlantis-indicator" class="indicator">♟︎ Atlantis</p>
				<p id="player-indicator" class="indicator">♟︎ Player</p>
			</div>
			<div class="btns">
				<button id="backBtn" class="nav-buttons" onclick="rewindBoard(dir='back')"><</button>
				<button id="homeBtn" class="nav-buttons" onclick="rewindBoard(dir='home')">Home</button>
				<button id="forwardBtn" class="nav-buttons" onclick="rewindBoard(dir='forward')">></button>
			</div>
			<div style="text-align:center;">
			    <button id="freePlayBtn" class="nav-buttons free" onclick="freePlay()">Free Play: <b>OFF</b></button>
			</div>
			
		</div>
		
		<script>
			var config = {
			  draggable: true,
			  dropOffBoard: 'snapback', // this is the default
			  position: 'start',
			  onDrop: onDrop,
			  onDragStart: onDragStart
			}

			var board = Chessboard('myBoard', config);
		</script>
	</body>
	
</html>
